.category-list p {
	text-align: center;
	font-size: 1.2rem;
	margin: 0;
	color: #fff;
}

.category-list:hover {
	transform: scale(1.05);
}

.category-list:hover span {
	visibility: visible;
}

.category-list:hover img {
	opacity: 0.8;
}

.img-container {
	position: relative;
}

.img-container {
	height: 250px;
	width: 250px;
}

.img-container img {
	height: 100%;
	width: 100%;
}

.img-container span {
	visibility: hidden;
	position: absolute;
	bottom: 0;
	background-color: #ffa1a1;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	right: 0.4rem;
}

.img-container svg {
	height: 50px;
	width: 50px;
	color: #533e85;
}

@media (max-width: 640px) {
	.img-container {
		height: 150px;
		width: 150px;
	}

	.category-list p {
		font-size: 1rem;
		width: 150px;
		word-wrap: break-word;
	}
}
