body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #000;
	color: #fff;
}

a {
	text-decoration: none;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.full {
	height: 100vh;
}

.spotify-logo {
	width: 200px;
	height: 200px;
	margin-bottom: 1rem;
}

.spotify-logo img {
	width: 100%;
	height: 100%;
}

.login-link {
	border-radius: 20px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 50px;
	color: #293462;
	border: 1px solid#fff;
	font-weight: 700;
	font-size: 1.4rem;
	letter-spacing: 1px;
}

.login-link:hover {
	background-color: #293462;
	color: #fff;
}

/* width */
::-webkit-scrollbar {
	width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ffa1a1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #ffa1a1;
}

@media (max-width: 640px) {
	body {
		padding: 0;
	}
}

@keyframes marquee {
	0% {
		transform: translateX(100%);
	}
	50% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}
